/* Site Header
 * ============================================== */
    .site-header {
        height: 55px;
        background-color: $paleyellow;
        position: relative;
        width: 100%;
		  border-bottom: 10px solid $grayblue;
    }

	 .site-title {
		  font-size: 26px;
		  margin-bottom: 0;
		  float: left;
		  font-weight: 500;
		  margin: 10px 20px 20px 10px;
		  color: $darkcoral;
		  &,
		  &:visited {color: $darkcoral};
	 }

    .site-header a {
		  color: $darkcoral;
		  &:hover {color: $lightcoral}
	 }
						 
	 .trigger {
		  ul {
				text-align: right;
				float: right;
				padding-top: 9px;
				font-size: 85%;
				letter-spacing: 1px;
				line-height: 1em;
				fontweight: 600;
				margin: 0;
				padding: 0;
				list-style-type: none;
				text-transform: uppercase;
		  }

		  .menubar > li {
				display: inline-block;
				height: 23px;
				line-height: normal;
				margin: 20px 20px 0 0;
				padding: 0 0 2px 0;
				position: relative;
				vertical-align: top;
		  }
	 }

	 @include media-query($on-palm) {
		  
		  .site-title {
				font-size: 18px;
				float: left;
				font-weight: 500;
				margin: 5px 10px 5px 5px;
				color: $darkcoral;
				&,
				&:visited {color: $darkcoral};
		  }

		  .trigger {
				ul {
					 text-align: right;
					 float: right;
					 padding-top: 1px;
					 font-size: 75%;
					 letter-spacing: 1px;
					 line-height: 1em;
					 fontweight: 600;
					 margin: 0;
					 padding: 0;
					 list-style-type: none;
					 text-transform: uppercase;
				}
				
				.menubar > li {
					 display: inline-block;
					 height: 16px;
					 line-height: normal;
					 margin: 5px 5px 0 0;
					 padding: 0 0 0 0;
					 position: relative;
					 vertical-align: top;
				}
				
		  }
	 }
	 
    .site-nav {
        padding-top: 16px;
        float: right;
        margin-right: 25px;
        text-transform: uppercase;

        .menu-icon {
            display: none;
        }

        @include media-query($on-palm) {
            position: absolute;
            top: 3px;
            right: 3px;
            background-color: $lightcoral;
            border: 1px solid $grey-color-light;
            border-radius: 5px;
            text-align: right;

            .menu-icon {
                display: block;
                float: right;
                width: n50px;
                height: 30px;
                line-height: 0;
                text-align: center;
            }


            .trigger {
                clear: both;
                display: none;
            }

            &:hover .trigger {
                display: block;
                padding-bottom: 5px;
            }

            .page-link {
                display: block;
                padding: 5px 10px;
            }
        }

        .page-link {
            font-family: 'Open Sans';
            font-weight: 700 !important;
            line-height: $base-line-height;
            letter-spacing: 0.05em;


            &:not(:first-child) {
                    margin-left: 20px;
            }

            &:hover {
                opacity: 0.8
            };
        }
	 }

	 .page-content {

		  width: 70%;
		  margin: auto;
		  padding: 10px;
		  border: 3px solid $grayblue;
		  background-color: $paleyellow;
		  //opacity: 0.6;

		  color: $darkgrayblue;
		  
		  p {
				// vert | horiz
				margin: 1% 5%;
		  }
		  
		  a {
				color: $darkcoral;
				&:hover {color: $darkercoral; text-decoration: underline;}
				&:visited {color: $darkercoral}
		  }

		  blockquote {
				color: $darkgrayblue;
				background-color: #e0e0e0;
				//opacity: 0.8;
		  }

		  strong {font-weight: bold}
	 }


/* Site Footer
 * ============================================== */
    .footer {
        padding-bottom: 3em;
        margin: auto;
        font-size: 12px;
        font-family: Open Sans;
        color: $grayblue;

		  a {
				color: $darkblue;
				&:hover {color: $darkerblue}
		  }
    }

    .footer.center {
      text-align: center;
    }

    .footer.center > * {
      margin: 0 auto;
    }

    .footer img {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-bottom: 3px;
  }

/* Individual Posts
 * ============================================== */
    .page-content {
        padding: $spacing-unit 0;
        text-align: justify;
    }

    .page-heading {
        font-size: 20px;
        padding-top: 2px;
    }

/* Archive
 * ============================================== */
    .post-list {
        margin-left: 0;
        list-style: none;

        > li {
            display: block;
            padding: 0.1em 1.5em;
        }

    }

    .post-link {
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 1.5em;
        letter-spacing: -1px;
        color: #454545;
        display: block;
        width: 100%;

        @include media-query($on-palm) {
            font-size: 1.33em;
        }
    }

    .post-meta {
        font-size: $small-font-size;
        color: $grey-color-dark;
        text-transform: uppercase;
        display: inline-block;
    }

/* Post Format
 * ============================================== */
    .post-header {
        margin-bottom: $spacing-unit;
    }

    .post-title {
        font-size: 42px;
        letter-spacing: -1px;
        line-height: 1;
    }

    .post-content {
        margin-bottom: $spacing-unit;
    }
